*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  background-size: cover;
  /* background: rgb(58, 58, 58); */
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.center {
  margin-left: 50%;
  transform: translate(-50%);
}
